:host {
  background: lightsteelblue;
  display: flex;
  flex-direction: column;
  position: relative;

  // JOE: flex with column doesn't do exactly what I want to, as the "available from" bit doesn't go to the bottom
  // I used position: absolute, but if I try running it on mobile, it does overlap a bit with the menu
  .cities {
    position: absolute;
    bottom: 16px;
  }
}
